
@media (prefers-reduced-motion: no-preference) {
  .header--image {
    animation: Header-img-spin infinite 10s linear;
  }
}

@keyframes Header-img-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Karla", sans-serif;
  margin: 0;
}

main {
  padding: 36px;
}

.header {
  display: flex;
  align-items: center;
  height: 100px;
  background: linear-gradient(90deg, #03a172 1.18%, #025038 100%);
  color: white;
  padding: 20px;
}

.header--image {
  height: 100%;
  margin-right: 30px;
  margin-left: 10px;
}

.header--name {
  font-size: 30px;
  margin-right: auto;
  font-family: Impact, sans-serif;
}

.header--title {
  font-family: Impact, sans-serif;
  font-size: 20px;
  font-weight: 500;
  margin-right: 10px;
}

.form {
  display: grid;
  grid-template: 40px 40px 40px 40px/ 1fr;
  gap: 17px;
  padding-bottom: 17px;
}

.form--input {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 2px solid #d5d4d8;
  text-indent: 5px;
}

.form--button {
  grid-column: 1 / -1;
  font-family: Impact, sans-serif;
  font-size: 14px;
  border-radius: 5px;
  background: linear-gradient(180deg, #000000 1.18%, #00b67f 100%);
  letter-spacing: 1px;
  color: white;
  transition: all 1s;
  border: none;
  cursor: pointer;
}
.form--button:active {
  transition: all 1s;
  background: linear-gradient(90deg, #000000 1.18%, #00b67f 100%);
  letter-spacing: 3px;
  cursor: pointer;
  opacity: 0.9;
}

.meme {
  position: relative;
}

.meme--image {
  width: 100%;
  border-radius: 3px;
}

.meme--text {
  position: absolute;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 5px;
  font-family: Impact, sans-serif;
  font-size: 2em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 3px;
  text-shadow:
    2px 2px 0 #000,
    -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
    0 2px 0 #000,
    2px 0 0 #000,
    0 -2px 0 #000,
    -2px 0 0 #000,
    2px 2px 5px #000;
}

.bottom {
  bottom: 0;
}

.top {
  top: 0;
}